<?xml version="1.0"?>
<config>
	<global>
		<models>
			<basicproducts>
				<class>Sm_BasicProducts_Model</class>
			</basicproducts>
		</models>
		<blocks>
			<basicproducts>
				<class>Sm_BasicProducts_Block</class>
			</basicproducts>
		</blocks>
		<helpers>
			<basicproducts>
				<class>Sm_BasicProducts_Helper</class>
			</basicproducts>
		</helpers>
		<resources>
			<basicproducts_setup>
				<setup>
					<module>Sm_BasicProducts</module>
				</setup>
			</basicproducts_setup>
		</resources>
	</global>
	<frontend>
		<routers>
			<basicproducts>
				<use>standard</use>
				<args>
					<module>Sm_BasicProducts</module>
					<frontName>basicproducts</frontName>
				</args>
			</basicproducts>
		</routers>
		<layout>
			<updates>
				<basicproducts module="Sm_BasicProducts">
					<file>sm/basicproducts.xml</file>
				</basicproducts>
			</updates>
		</layout>
		<translate>
			<modules>
				<Sm_BasicProducts>
					<files>
						<default>Sm_BasicProducts.csv</default>
					</files>
				</Sm_BasicProducts>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Sm_BasicProducts>
					<files>
						<default>Sm_BasicProducts.csv</default>
					</files>
				</Sm_BasicProducts>
			</modules>
		</translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<basicproducts_cfg translate="title" module="basicproducts">
											<title>SM Basic Products Settings</title>
										</basicproducts_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<basket>
					<file>picker.xml</file>
				</basket>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<basicproducts_cfg>
			<general>
				<active>1</active>
				<title>SM Basic Products</title>
				<basicproducts_title_text>Best sellers</basicproducts_title_text>
				<product_links_target>_self</product_links_target>
				<nb_column1>1</nb_column1>
				<nb_column2>1</nb_column2>
				<nb_column3>1</nb_column3>
				<nb_column4>1</nb_column4>
			</general>

			<source_options>
				<product_source>catalog</product_source>
				<product_category></product_category>
				<child_category_products>1</child_category_products>
				<max_depth>1</max_depth>
				<product_featured>0</product_featured>
				<product_order_by>best_sales</product_order_by>
				<product_order_dir>DESC</product_order_dir>
				<product_limitation>3</product_limitation>
				<product_additem></product_additem>
				<product_ids></product_ids>
			</source_options>

			<category_options>
				<cat_title_display>0</cat_title_display>
				<category_title_max_characs>100</category_title_max_characs>
			</category_options>

			<product_options>
				<product_title_display>1</product_title_display>
				<product_title_maxlength>25</product_title_maxlength>
				<product_description_display>0</product_description_display>
				<product_description_maxlength>100</product_description_maxlength>
				<product_description_striptags>1</product_description_striptags>
				<product_price_display>1</product_price_display>
				<product_reviews_count>1</product_reviews_count>
				<product_addcart_display>0</product_addcart_display>
				<product_addwishlist_display>0</product_addwishlist_display>
				<product_addcompare_display>0</product_addcompare_display>
				<product_readmore_display>0</product_readmore_display>
				<product_readmore_text>Details</product_readmore_text>
			</product_options>

			<image_options>
				<imgcfg_from_product_image>1</imgcfg_from_product_image>
				<imgcfg_from_product_description>0</imgcfg_from_product_description>
				<imgcfg_order>product_image, product_description</imgcfg_order>
				<imgcfg_function>1</imgcfg_function>
				<imgcfg_width>82</imgcfg_width>
				<imgcfg_height>82</imgcfg_height>
				<imgcfg_constrainOnly>true</imgcfg_constrainOnly>
				<imgcfg_keepAspectRatio>true</imgcfg_keepAspectRatio>
				<imgcfg_keepFrame>true</imgcfg_keepFrame>
				<imgcfg_keepTransparency>true</imgcfg_keepTransparency>
				<imgcfg_background>FFFFFF</imgcfg_background>
				<imgcfg_placeholder>sm/basicproducts/images/nophoto.jpg</imgcfg_placeholder>
			</image_options>

			<advanced>
				<pretext></pretext>
				<posttext></posttext>
			</advanced>
		</basicproducts_cfg>
	</default>
</config>