<ion-view cache-view="false" view-title="{{title}}" class="frame">
  <ion-nav-bar class="bar-stable">     
    <ion-nav-buttons side="left">
      <ion-nav-back-button class="button-clear" ng-click="myGoBack()">
      </ion-nav-back-button>
    </ion-nav-buttons>    
    <ion-nav-buttons side="right">    
        <a href="#app/lists" class="button button-icon nav-clear menu-close ion-ios-home-outline"></a>
    </ion-nav-buttons>    
  </ion-nav-bar>
    <ion-content>
        <div class="loading"></div>
        <iframe ng-src="{{trustSrc(src)}}"></iframe>
    </ion-content>
</ion-view>