<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
  <div class="main container">
    <form ng-submit="doLogin()" id="login-form">
      <div class="list">    
        <div class="row">
            <div class="col-sm-6">
                <div class="registered-users form-wrap">
                    <div class="content">
                        <h2>Registered Customers</h2>
                        <p>If you have an account with us, please log in.</p>
                        <ul class="form-list">
                            <li>
                                <label for="email" class="required"><em>*</em>Email Address</label>
                                <div class="input-box">
                                    <input ng-model="loginData.username" type="text" name="login[username]" value="" id="email" class="input-text required-entry validate-email" title="Email Address">
                                </div>
                            </li>
                            <li>
                                <label for="pass" class="required"><em>*</em>Password</label>
                                <div class="input-box">
                                    <input ng-model="loginData.password" type="password" name="login[password]" class="input-text required-entry validate-password" id="pass" title="Password">
                                </div>
                            </li>
                            <li>
	                        <a href="http://demo.sunpop.cn/m/customer/account/forgotpassword/" class="f-left">Forgot Your Password?</a>
                            </li>
                        </ul>
                    </div>
                    <div class="buttons-set">
                        <button type="submit" class="button button-full button-assertive" title="Login" name="send" id="send">Login</button>
                    </div>
                    <div class="col-sm-6">
                        <div class="new-users form-wrap">
                            <div class="content">
                                <h2>New Customers</h2>
                                <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                            </div>
                            <div class="buttons-set">
                                <button type="button" title="Create an Account" class="button button-full button-assertive" onclick="window.location='http://demo.sunpop.cn/m/customer/account/create/';">Create an Account</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
	    </div>
      </div>
    </form>
    </div>
  </ion-content>
</ion-modal-view>
