  <ion-content overflow-scroll="false">
    <div class="login-container">
			<div class="list padding">
      <h3> &nbsp; </h3>
      <form ng-submit="doLogin()" id="login-form">
          <label class="item item-input">
              <span class="input-label">Email</span>
              <input autofocus type="email" placeholder="Email" ng-model="loginData.username">
          </label>
          <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" placeholder="password" ng-model="loginData.password">
          </label>
          <div class="padding">
          <a ng-click="showPopupForgotPwd();">Forgot Your Password?</a>
          </div>
          <div class="padding">
          <a menu-toggle="left" ng-click="hideLogin()" href="#app/register">New Customers? &nbsp;Create an Account.</a>
          </div>
      </form>
		</div>
	</div>
  </ion-content>
