<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-icon ion-arrow-left-c">
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">    
            	<a href="#app/lists" class="button button-icon nav-clear menu-close ion-ios-home-outline"></a>
            </ion-nav-buttons>    
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>  
    

    <ion-side-menu side="left">
        <ion-header-bar class="menus bar-light">
          <span ng-if="!user">
            <h3 class="padding">
                <em class="ion-person padding-left" menu-close ng-click="login()">&nbsp;Login</em>&nbsp;|&nbsp;<em menu-close ng-click="register()">Register</em>
            </h3>
          </span>
          <span ng-if="user">
            <h3 class="padding">
              <span ng-if="!user.avatar">
                <span class="ion-person"></span>
              </span>
              <span ng-if="!!user.avatar">
                <img src="{{user.avatar}}" width="48" height="48">
              </span>
              <span class="drawer-logined padding-horizontal">
                <div><a href="#app/frame/account/edit">{{user.name}}</a></div>
                <div><a href="#app/frame/account/edit">{{user.email}}</a></div>
    		  </span>
          	</h3>
          </span>
          <span class="icon icon-close pull-right menu-close"></span>
        </ion-header-bar>
        <ion-content class="menus-content">
            <ion-list>
                  <a nav-clear menu-close href="#app/lists"
                     ng-click="setCatalog(0)"
                     ng-class="{'button-assertive': getActiveClass(0)}"
                  	 class="button button-full button-light icon icon-left ion-ios-home-outline">
                      <span class="padding-horizontal">Home</span>
                  </a>
                <span ng-if="user">
                  <a menu-toggle="left" href="#app/frame/account"
                  	class="button button-full button-light icon icon-left ion-ios-cloud-outline">
                      <span class="padding-horizontal">My Account</span>
                  </a>
                  <a menu-toggle="left" href="http://demo-extension.magestore.com/sandbox/reward-points/platinum/index.php/autologin/demo"
                  	class="button button-full button-light icon icon-left ion-ios-cloud-outline">
                      <span class="padding-horizontal">My Reward</span>
                  </a>
                  <a menu-toggle="left" href="#app/frame/order"
                  	class="button button-full button-light icon icon-left ion-ios-list-outline">
                      <span class="padding-horizontal">My Orders</span>
                  </a>
                  <a menu-toggle="left" href="#app/frame/address"
                  	class="button button-full button-light icon icon-left ion-ios-location-outline">
                      <span class="padding-horizontal">My Address Book</span>
                  </a>
                  <a menu-toggle="left" href="#app/frame/wishlist"
                  	class="button button-full button-light icon icon-left ion-android-favorite-outline">
                      <span class="padding-horizontal">My Wishlish</span>
                  </a>         
                  <div class="item item-divider"></div>
                </span>
                <span ng-repeat="menu in menus" ng-switch on="menu.name">    
                  <span ng-switch-when="Daily Sale"></span>
                  <span ng-switch-when="New Arrival"></span>
                  <ion-item ng-switch-default nav-clear menu-close
                            ng-class="{'active': getActiveClass($index)}"
                            href="#app/lists"
                            ng-click="setCatalog($index)">{{menu.name}}
                  </ion-item>
                </span>
                <div class="item item-divider"></div>
                <a menu-toggle="left" href="#app/setting" class="item icon icon-left ion-ios-gear-outline">
                    <span class="padding-horizontal">Setting</span>
                  <img src="img/flags/Tanzania.png" height="18">
                </a> 
                <a menu-close ng-if="!!user" ng-click="doLogout()"
                  class="item icon icon-left ion-log-out">
                    <span class="padding-horizontal">Logout</span>
                </a> 
                <a menu-close ng-click="exit()"
                  class="item icon icon-left ion-android-exit">
                    <span class="padding-horizontal">Exit</span>
                </a> 
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
