<ion-view view-title="Product Detail">
  <ion-content class="product-container">
		<!-- img swiper -->
		<div class="product-swiper-container">
      <ion-slide-box delegate-handle="image-viewer" show-pager="true">
        <ion-slide ng-repeat="img in lists">
        	<img src="{{img.url}}">
        </ion-slide>
      </ion-slide-box>
  	</div>
		<!-- end img swiper -->
    <div class="card padding-horizontal">
    <h4>{{product.name}}</h4>
    <div class="price-box">			
				<span class="special-price"><span class="price">{{product.symbol}}&nbsp;{{product.final_price_with_tax}}</span>
				</span>
				<span class="old-price padding-horizontal">{{product.regular_price_with_tax}}</span>      
      <div ng-if="product.is_in_stock" class="availability in-stock"><span>Availability: In stock</span><span class="shipping">Free Shipping</span></div>
      <div ng-if="product.!is_in_stock" class="availability out-of-stock"><span>Availability: Out of stock</span></div>  
		</div>      
        
   		<div class="qty-holder">      
        <div class="item item-input-inset">
          <span class="input-label">Quantity*:</span>
          <button class="button btn-minus ion-minus button-small button-outline button-light" ng-click=""></button> 
          <label class="item-input">
            <input type="number" name="qty" id="qty"  value="1" title="Qty">
          </label>
          <button class="button btn-plus ion-plus button-small button-outline button-light" ng-click=""></button> 
        </div>    
      </div>      
    </div>          
              
		<ion-tabs class="tabs-ligth tabs-standard">
	    <ion-tab title="Description" id="tab_description_tabbed_contents">
      	<div class="list padding">
          <p>Brand:Iphone</p>
          <p>Material quality:PC</p>
          <p>Style:sketchy</p>
          <p>Technology:Produce plastic articies by injection moulding</p>
          <p>Colors:white,black,blue,Kitty with blue,Kitty with rose</p>
          <p>Applicable models:Iphone5(5S),Iphone6(4.7-inch),Iphone6(5.5-inch)</p>
          <p>&nbsp;</p>
          <p><img alt="" src="http://www.kikuu.com/media/wysiwyg/QQ_20150425184706.jpg"></p>
          <p>&nbsp;</p>
          <p><img alt="" src="http://www.kikuu.com/media/wysiwyg/QQ_20150425184716.jpg"></p>    
        </div>
			</ion-tab>
	    <ion-tab title="Additional" id="tab_description_tabbed_attribute">
      	<div class="list padding">
          <table class="data-table" id="product-attribute-specs-table">
            <tbody>
                      <tr class="first odd">
                  <th class="label">Weight</th>
                  <td class="data last">0.2200</td>
              </tr>
                      <tr class="last even">
                  <th class="label">Color</th>
                  <td class="data last">N/A</td>
              </tr>
                  </tbody>
          </table>  
        </div>
			</ion-tab>
	    <ion-tab title="Relate Product" id="tab_description_tabbed_attribute">
      	<div class="list padding">
          <table class="data-table" id="product-attribute-specs-table">
            <tbody>
                      <tr class="first odd">
                  <th class="label">Weight</th>
                  <td class="data last">0.2200</td>
              </tr>
                      <tr class="last even">
                  <th class="label">Color</th>
                  <td class="data last">N/A</td>
              </tr>
                  </tbody>
          </table>  
        </div>
			</ion-tab>
    </ion-tabs>      
      
  <p>&nbsp;</p>
  
  </ion-content>
  
  <div class="bar bar-footer bar-stable cart_block">
    <a class="button button-large cart_block_left button-outline button-assertive ion-android-cart">12</a>
    <a class="button cart_block_right button-assertive">Add to Cart</a>
  </div>
</ion-view>
