<ion-view cache-view="false" view-title="Search: {{text}}">
    <ion-content>
        <ion-list class="products-grid one-line">
            <div class="product" ng-repeat="product in results">
                <div class="product-inner">
                    <a>
                        <div class="product-image">
                            <img class="lazy small-image"
                                 src="{{product.image_url}}"
                                 data-original="{{product.image_url}}"
                                 alt="{{product.name}}">
                        </div>
                    </a>

                    <div class="product-info">
                        <div class="product-name">
                            <a href="">{{product.name}}</a>
                        </div>

                        <div class="product-price">
                            <div class="price-box">
                                <span class="special-price">
                                    <span class="special-price">
                                        <span class="price">
                                            Tsh{{product.final_price_with_tax | price}}
                                        </span>
                                        &nbsp;
                                        <span class="old-price">
                                            Tsh{{product.regular_price_with_tax | price}}
                                        </span>
                                    </span>
                                </span>
                                <span class="discount {{price_percent_class}}">
                                    <span class="price">
                                        {{product | discount}}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="product" ng-if="!results">
            No product found.
            </div>
        </ion-list>
    </ion-content>
</ion-view>
