<ion-view view-title="Search">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
		          <i class="icon ion-search placeholder-icon"></i>
              <input type="text" placeholder="Search" id="search-input" ng-model="model.text">
            </label>
        </div>
        <div class="padding">
            <button class="button button-full button-assertive" ng-click="onSearch()">SEARCH</button>
        </div>
    </ion-content>
</ion-view>
