<ion-view view-title="Setting">
  <ion-content>
    <ul class="list">
      <li class="item">
       	<h2>Country/Region</h2>
        <label class="item item-radio">
          <input type="radio" id="store_group_id" name="store_group_id" value="1" checked="checked">
          <div class="item-content">
          <span class="padding-horizontal">Tanzania</span>
          <img src="img/flags/Tanzania.png" height="18">
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" id="store_group_id" name="store_group_id" value="3" disabled="disabled">
          <div class="item-content">
          <span class="padding-horizontal">Ethiopia</span>
          <img src="img/flags/Ethiopia.png" height="18">
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>       
      </li>
      <li class="item">      
       	<h2>Language</h2>
        <label class="item item-radio">
          <input type="radio" id="store_lang" name="store_lang" value="en" checked="checked">
          <div class="item-content">
          <span class="padding-horizontal">English</span>
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" id="store_lang" name="store_lang" value="zh" disabled="disabled">
          <div class="item-content">
          <span class="padding-horizontal">French</span>
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>    
        <label class="item item-radio">
          <input type="radio" id="store_lang" name="store_lang" value="sw" disabled="disabled">
          <div class="item-content">
          <span class="padding-horizontal">Swahili</span>
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>     
      </li>
      <li class="item">
      About Kikuu
      </li>
      <li class="item">
      Check for new update
      </li>
      <li class="item">
      Version: 2.2.5</li>
    </ul>
  </ion-content>
</ion-view>
