<ion-view view-title="Setting">
  <ion-content>
    <ul class="list">
      <li class="item">
       	<label> Country/Region<label>
        <label class="item item-radio">
          <input type="radio" id="store_group_id" name="store_group_id" value="1" checked="checked">
          <div class="item-content">
          <span class="padding-horizontal">Tanzania</span>
          <img src="img/flags/Tanzania.png" height="18">
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" id="store_group_id" name="store_group_id" value="3" disabled="disabled">
          <div class="item-content">
          <span class="padding-horizontal">Ethiopia</span>
          <img src="img/flags/Ethiopia.png" height="18">
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>       
      </li>
      <li class="item">
      Language
      </li>
      <li class="item">
      About Kikuu
      </li>
      <li class="item">
      Check for new update
      </li>
      <li class="item">
      Version: 2.0.8
      </li>
      <li class="item">
      About Kikuu
      </li>
    </ul>
  </ion-content>
</ion-view>
