.frame {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.page {
    float: left;
    -webkit-transform: translate3d(0, 0, 0);
    height: 100%;
    padding: 20px;
}

#pageWrapper {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 84px 0px 20px 0px;
}

#pageScroller {
    height: 100%;
}

.pullDownLabel, .pullUpLabel {
    color: #999;
}

.pullDown, .pullUp {
    background: #fff;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 0.8em;
    color: #888;
    display: none;
    text-align: center;
}

.pullDown .pullDownIcon, .pullUp .pullUpIcon {
    display: inline-block;
    opacity: 0.4;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    background: url(pull_to_refresh.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    -ms-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -ms-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
    -ms-transition-duration: 250ms
}

.pullDown .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
    -ms-transform: rotate(0deg) translateZ(0)
}

.pullUp .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
    -ms-transform: rotate(-180deg) translateZ(0)
}

.pullDown.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
    -ms-transform: rotate(-180deg) translateZ(0)
}

.pullUp.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
    -ms-transform: rotate(0deg) translateZ(0)
}

.pullDown.loading .pullDownIcon, .pullUp.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -ms-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;
    -ms-transition-duration: 0ms;
    -webkit-animation-name: loading;
    -ms-animation-name: loading;
    -webkit-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -ms-animation-timing-function: linear
}

@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg) translateZ(0)
    }
    to {
        -webkit-transform: rotate(360deg) translateZ(0)
    }
}

@-ms-keyframes loading {
    from {
        -ms-transform: rotate(0deg) translateZ(0)
    }
    to {
        -ms-transform: rotate(360deg) translateZ(0)
    }
}