<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* @author Amasty Team
* @copyright Copyright (c) 2008-2012 Amasty (http://www.amasty.com)
* @package Amasty_Customerattr
*/
-->
<config>
    <modules>
        <Amasty_Customerattr>
            <version>5.3.4</version>
        </Amasty_Customerattr>
    </modules>
    
    
    <admin>
        <routers>
            <amcustomerattr>
                <use>admin</use>
                <args>
                    <module>Amasty_Customerattr</module>
                    <frontName>amcustomerattr</frontName>
                </args>
            </amcustomerattr>
        </routers>
    </admin>
    
    
    <frontend>
        <translate>
            <modules>
                <Amasty_Customerattr>
                    <files>
                        <default>Amasty_Customerattr.csv</default>
                    </files>
                </Amasty_Customerattr>
            </modules>
        </translate>
        
        <layout>
            <updates>
                <amcustomerattr>
                    <file>amasty/amcustomerattr/amcustomerattr.xml</file>
                </amcustomerattr>
            </updates>
        </layout>
        
        <routers>
            <amcustomerattrfront>
                <use>standard</use>
                <args>
                    <module>Amasty_Customerattr</module>
                    <frontName>attached</frontName>
                </args>
            </amcustomerattrfront>
        </routers>
    </frontend>
    
    <adminhtml>
        <events>
            <!-- Order Grid -->
            <controller_action_layout_render_before_adminhtml_sales_order_index>
                <observers>
                    <amcustomerattr>
                        <type>singleton</type>
                        <class>amcustomerattr/observer</class>
                        <method>modifyOrderGrid</method>
                    </amcustomerattr>
                </observers>
            </controller_action_layout_render_before_adminhtml_sales_order_index>
            <controller_action_layout_render_before_adminhtml_sales_order_grid>
                <observers>
                    <amcustomerattr>
                        <type>singleton</type>
                        <class>amcustomerattr/observer</class>
                        <method>modifyOrderGrid</method>
                    </amcustomerattr>
                </observers>
            </controller_action_layout_render_before_adminhtml_sales_order_grid>
            
            <core_layout_block_create_after>
                <observers>
                    <amorderattr>
                        <type>singleton</type>
                        <class>amcustomerattr/observer</class>
                        <method>onCoreLayoutBlockCreateAfter</method>
                    </amorderattr>
                </observers>
            </core_layout_block_create_after>
            
            <sales_order_grid_collection_load_before>
                <observers>
                    <amcustomerattr>
                        <type>singleton</type>
                        <class>amcustomerattr/observer</class>
                        <method>modifyOrderCollection</method>
                    </amcustomerattr>
                </observers>
            </sales_order_grid_collection_load_before>
            <!-- Customer Grid -->
            <controller_action_layout_render_before_adminhtml_customer_index>
                <observers>
                    <amcustomerattr>
                        <type>singleton</type>
                        <class>amcustomerattr/observer</class>
                        <method>forIndexCustomerGrid</method>
                    </amcustomerattr>
                </observers>
            </controller_action_layout_render_before_adminhtml_customer_index>
            <core_layout_block_create_after>
                <observers>
                    <amcustomerattr>
                        <type>singleton</type>
                        <class>amcustomerattr/observer</class>
                        <method>forSearchCustomerGrid</method>
                    </amcustomerattr>
                </observers>
            </core_layout_block_create_after>
            <eav_collection_abstract_load_before>
                <observers>
                    <amcustomerattr>
                        <type>singleton</type>
                        <class>amcustomerattr/observer</class>
                        <method>modifyCustomerCollection</method>
                    </amcustomerattr>
                </observers>
            </eav_collection_abstract_load_before>
            
            <core_block_abstract_to_html_after>
                <observers>
                    <amcustomerattr>
                        <type>singleton</type>
                        <class>amcustomerattr/observer</class>
                        <method>handleBlockOutput</method>
                    </amcustomerattr>
                </observers>
            </core_block_abstract_to_html_after>
            <core_block_abstract_to_html_before>
                <observers>
                    <amcustomerattr>
                        <type>singleton</type>
                        <class>amcustomerattr/observer</class>
                        <method>handleBlockOutputBefore</method>
                    </amcustomerattr>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
        
        <menu>
            <customer>
                <children>
                    <amcustomerattr translate="title">
                        <title>Customer Attributes</title>
                        <sort_order>1</sort_order>
                        <children>
                        	<attributes translate="title" module="amcustomerattr"> 
                                <title>Manage Attributes</title>
                                <action>amcustomerattr/adminhtml_manage</action>
                                <sort_order>10</sort_order>
                            </attributes>
                            <filters translate="title" module="amcustomerattr"> 
                                <title>Manage Relations</title>
                                <action>amcustomerattr/adminhtml_relation</action>
                                <sort_order>11</sort_order>
                            </filters>
                        </children>
                    </amcustomerattr>
                </children>
            </customer>
        </menu>
        
        <translate>
            <modules>
                <Amasty_Customerattr>
                    <files>
                        <default>Amasty_Customerattr.csv</default>
                    </files>
                </Amasty_Customerattr>
            </modules>
        </translate>
    
        <acl>
            <resources>
                <admin>
                    <children>
                        <customer>
                            <children>
                                <amcustomerattr translate="title" module="amcustomerattr">
                                    <title>Customer Attributes</title>
                                    <sort_order>16</sort_order>
                                    <children>
                                        <attributes translate="title" module="amcustomerattr"> 
                                            <title>Manage Attributes</title>
                                            <sort_order>10</sort_order>
                                        </attributes>
                                        <filters translate="title" module="amcustomerattr"> 
                                            <title>Manage Relations</title>
                                            <sort_order>11</sort_order>
                                        </filters>
                                    </children>
                                </amcustomerattr>
                            </children>
                        </customer>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <amcustomerattr translate="title" module="amcustomerattr">
                                            <title>Customer Attributes</title>
                                        </amcustomerattr>
                                    </children>
                                </config>
                            </children>
                        </system> 
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    
    
    
    
    <global>
    
        <models>
            <amcustomerattr>
                <class>Amasty_Customerattr_Model</class>
                <resourceModel>amcustomerattr_mysql4</resourceModel>
            </amcustomerattr>
            <amcustomerattr_mysql4>
				<class>Amasty_Customerattr_Model_Mysql4</class> 
				<entities>
					<relation>
		  				<table>am_customerattr_relation</table> 
		  			</relation>		
		  			<details>
		  				<table>am_customerattr_relation_details</table> 
		  			</details>	  			
		  		</entities>
			</amcustomerattr_mysql4>
            
            <customer>
                <rewrite>
                    <customer>Amasty_Customerattr_Model_Rewrite_Customer</customer>
                    <form>Amasty_Customerattr_Model_Rewrite_Customer_Form</form>
                </rewrite>
            </customer>
            
            <customer_entity>
                <rewrite>
                    <attribute>Amasty_Customerattr_Model_Rewrite_Customer_Entity_Attribute</attribute>
                    <customer>Amasty_Customerattr_Model_Rewrite_Customer_Entity_Customer</customer>
                </rewrite>
            </customer_entity>
            
            <!-- this block is used for 1.6 version -->
            <customer_resource>
                <rewrite>
                    <attribute>Amasty_Customerattr_Model_Rewrite_Customer_Resource_Attribute</attribute>
                    <customer>Amasty_Customerattr_Model_Rewrite_Customer_Resource_Customer</customer>
                </rewrite>
            </customer_resource>
            
            <checkout>
                <rewrite>
                    <type_onepage>Amasty_Customerattr_Model_Rewrite_Checkout_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>

            <catalog>
                <rewrite>
                    <product_flat_indexer>Amasty_Customerattr_Model_Rewrite_Catalog_Product_Flat_Indexer</product_flat_indexer>
                </rewrite>
            </catalog>
            
            <core>
                <rewrite>
                    <email_template>Amasty_Customerattr_Model_Rewrite_Core_Email_Template</email_template>
                </rewrite>
            </core>
            
            <eav_mysql4>
                <rewrite>
                    <entity_attribute>Amasty_Customerattr_Model_Rewrite_Eav_Mysql4_Entity_Attribute</entity_attribute>
                </rewrite>
            </eav_mysql4>
            
            <eav_resource>
                <rewrite>
                    <entity_attribute>Amasty_Customerattr_Model_Rewrite_Eav_Mysql4_Entity_Attribute</entity_attribute>
                </rewrite>
            </eav_resource>
        </models>
        
		<resources>
             <amcustomerattr_setup>
                <setup>
                    <module>Amasty_Customerattr</module>
                    <class>Amasty_Customerattr_Model_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </amcustomerattr_setup>
		    <amcustomerattr_write>
		        <connection><use>core_write</use></connection>
		    </amcustomerattr_write>
		    <amcustomerattr_read>
		        <connection><use>core_read</use></connection>
		    </amcustomerattr_read>
		</resources>
		  
        <blocks>
            <amcustomerattr>
                <class>Amasty_Customerattr_Block</class>
            </amcustomerattr>
            
            <adminhtml>
                <rewrite>
                    <sales_order_create_customer_grid>Amasty_Customerattr_Block_Rewrite_Sales_Order_Create_Customer_Grid</sales_order_create_customer_grid>
                    <!-- <sales_order_view_info>Amasty_Customerattr_Block_Rewrite_Sales_Order_View_Info</sales_order_view_info> -->
                </rewrite>
            </adminhtml>
        </blocks>
        
        <helpers>
            <amcustomerattr>
                <class>Amasty_Customerattr_Helper</class>
            </amcustomerattr>
        </helpers>
		
		<events>
            <amcustomerattr_customer_registry>
                <observers>
                    <amcustomerattr>
                        <type>singleton</type>
                        <class>amcustomerattr/registration</class>
                        <method>setAttributeValue</method>
                    </amcustomerattr>
                </observers>
            </amcustomerattr_customer_registry>
        </events>

        <template>
            <email>
                <amcustomerattr_activation_email_template_admin translate="label" module="amcustomerattr">
                    <label>New account notification for admin</label>
                    <file>amasty_amcustomerattr_activation_email_template_admin.html</file>
                    <type>html</type>
                </amcustomerattr_activation_email_template_admin>
                <amcustomerattr_activation_email_template_customer translate="label" module="amcustomerattr">
                    <label>Customer activation notification</label>
                    <file>amasty_amcustomerattr_activation_email_template_customer.html</file>
                    <type>html</type>
                </amcustomerattr_activation_email_template_customer>
            </email>
        </template>

    </global>
    
    <frontend>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <amcustomerattr>
                        <type>singleton</type>
                        <class>amcustomerattr/observer</class>
                        <method>handleBlockOutput</method>
                    </amcustomerattr>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
    
    <default>
        <amcustomerattr>
        	<general>
        		<select_grid>1</select_grid>
                <allow_change_group>0</allow_change_group>
                <check_file_type>0</check_file_type>
                <address_enabled>0</address_enabled>
                <front_auto_output>1</front_auto_output>
        	</general>
            <login>
                <login_field></login_field>
                <disable_email>0</disable_email>
                <modify_title>0</modify_title>
            </login>
            <forgot>
                <forgot_field></forgot_field>
                <field_title></field_title>
                <disable_email>0</disable_email>
                <text></text>
            </forgot>
            <activation>
                <activation_required>0</activation_required>
                <notify_admin>0</notify_admin>
                <admin_email></admin_email>
                <admin_sender></admin_sender>
                <email_template_admin>amcustomerattr_activation_email_template_admin</email_template_admin>
                <notify_customer>0</notify_customer>
                <customer_sender></customer_sender>
                <email_template_customer>amcustomerattr_activation_email_template_customer</email_template_customer>
                <registration_notice></registration_notice>
                <auto_activation>0</auto_activation>
                <enabled_customer_groups>0</enabled_customer_groups>
                <customer_groups></customer_groups>
            </activation>
        </amcustomerattr>
    </default>
    
</config>
