/* web的style ，整合进来*/
/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2015-04-23 22:20:37 */

a,a:hover,input.qty,.form-wrap h2,#form-validate h2,.col-main .page-title h2,.sub-title,.data-table .product-name a,.cart-table .link-wishlist,.cart-table .link-wishlist:hover,.btn-remove,.btn-remove:hover,.header-container .links,.mini-cart .qty-price,.mini-cart .totals,.header-container.type4 .mybag-link i,.header-container.type5 .mybag-link i,.header-container.type6 .mybag-link i,.header-container.type6 .menu-icon,.header-container.type7 .mybag-link i,.header-container.type9 .top-links a,.header-container.type9 .mybag-link i,.header-container.type10 .top-links a,.fixed-header ul.menu >li >a,.main-nav ul.menu >li >a,.fixed-header .mybag-link i,.mobile-nav.side-block .sw-mobile-menu li .open-child,.menu.side-menu>li.menu-static-width>a:after,.menu.side-menu>li.menu-item-has-children>a:after,.menu.side-menu>li.menu-full-width>a:after,.mini-products-list li .product-name a:hover,.block-category-nav .category-list a.plus,.col-main.filter-products li.item:hover .price-box .price,.review-area .review-by b,.add-to-cart .qty,.product-tabs>ul li a,.product-view .product-shop .price-box .regular-price .price,.product-view .product-shop .price-box .special-price .price,.cart-table td.td-total .cart-price,.sp-methods .price,.opc .step-title .number,.opc .step-title h2,#opc-review tr td.last .cart-price .price,#wishlist-table .product-name a,#totop,.block.block-related .owl-theme .owl-controls .owl-buttons div,.order-products-table .price,.block-account ul li strong,.block-account ul li a:hover,.block.block-blog-categories a:hover,p .alternative-font,.entry-content h3,.history h4,.block.block-blog-recent ul li a,.postWrapper .post-date .day,.postDetails >span a:hover,.postBookmarks a:hover,.post-share h3,.postComments .postTitle h2,#postComment h4.legend,.cms-index-index .tp-caption.very_large_text,.cms-index-index .tp-caption.large_thin,.cms-index-index .tp-caption.title1,.cms-index-index .tp-caption a.btn-white,.cms-index-index .tp-caption a.btn-white:hover,.slide .product .price,h3.filter-title,.filterproducts-tab .filter-title ul li.active a,.feature-box.secundary .feature-box-icon,.owl-top-narrow .owl-controls .owl-buttons div,.owl-bottom-narrow .owl-controls .owl-buttons div,.recent-posts .post-date .day,.true-color,ul.list.icons li i.icon,.owl-middle-narrow .owl-controls .owl-buttons div,.featured-post h4,.post-a-day,.post-a-year,.owl-theme.banner-carousel .owl-controls .owl-buttons div,.product-options .product-swatches-container .has-swatches a.active,.col-main .page-title h1,.col-main .page-title h2,.product-view .product-options .swatch-attr .select-label,.availability-only strong,.product-image-area .actions a.addtocart,.opc-wrapper-opc a:hover,.opc-wrapper-opc .opc-review-actions .view-agreement:hover,.header-container.type9 .main-nav ul.menu>li.act>a, .header-container.type9 .main-nav ul.menu>li:hover>a,.header-container.type10 .main-nav ul.menu>li.act>a, .header-container.type10 .main-nav ul.menu>li:hover>a,.price-excluding-tax .price,.price-including-tax .price,.checkout-progress li.active,.header-container.type1.sticky-header .menu-wrapper .mybag-link .cart-qty,.header-container.sticky-header .menu-wrapper .mybag-link i,.multiple-checkout .place-order .grand-total .price
    {color:#ef473a}
@-moz-keyframes f_fadeG{0%{background-color:#ef473a}100%{background-color:#FFFFFF}}
@-webkit-keyframes f_fadeG{0%{background-color:#ef473a}100%{background-color:#FFFFFF}}
@-ms-keyframes f_fadeG{0%{background-color:#ef473a}100%{background-color:#FFFFFF}}
@-o-keyframes f_fadeG{0%{background-color:#ef473a}100%{background-color:#FFFFFF}}
@keyframes f_fadeG{0%{background-color:#ef473a}100%{background-color:#FFFFFF}}
.theme-color{color:#ef473a!important}
.theme-hover-color:hover{color:#ef473a!important}
.theme-bg-color{background-color:#ef473a!important}
.theme-border-color{border-color:#ef473a!important}
.theme-hover-bg-color:hover{background-color:#ef473a}
button.button span,.pager li >a:hover,.pager li >a:focus,.pager .pages .current,.sorter .view-mode strong i,.sorter .view-mode a:hover i,.data-table button.button:hover > span,.link-cart:hover,.header-container.type2 .mybag-link ,.header-container.type5 .top-links-container,.header-container.type6 .top-links-container,.header-container.type7 .top-links-container,.header-container.type8 .top-links-container,.fixed-header ul.menu >li .nav-sublist-dropdown,.main-nav ul.menu >li .nav-sublist-dropdown,.fixed-header ul.menu >li:hover,.main-nav ul.menu >li:hover,.fixed-header ul.menu >li.act,.main-nav ul.menu >li.act,.fixed-header .menu >li.menu-item .nav-sublist-dropdown .container ul .menu-item-has-children .nav-sublist,.main-nav .menu >li.menu-item .nav-sublist-dropdown .container ul .menu-item-has-children .nav-sublist,.mobile-nav.side-block .sw-mobile-menu li:hover>a,.menu.side-menu>li:hover,.menu.side-menu>li.menu-item-has-children .nav-sublist-dropdown,.menu.side-menu>li.menu-item-has-children .nav-sublist-dropdown .container ul .menu-item-has-children .nav-sublist,.block-layered-nav dt:hover:before,.block-category-nav .block-title:hover:before,.price-filter-slider .text-box input.go,.item:hover .details-area .actions a.addtocart,.col-main .category-products .products-list li.item .details-area .actions a.addtocart,.cart .crosssell button.button:hover > span,.cart .discount h2:hover:before,.cart .shipping h2:hover:before,.block.block-facebook-like .block-title a.btn-like,.btn-primary,.contacts-index-index .col-main .contact-info i,.block.block-blog-tags ul li a:hover,.postWrapper .post-date .month,.feature-box .feature-box-icon,.full-screen-slider .item > div.content .sale-bar a .icon-angle-down,.recent-posts .post-date .month,.post-a-month,.owl-theme .owl-controls .owl-page.active span,.footer-ribbon,.owl-theme .owl-controls.clickable .owl-page:hover span,.btn-default,.btn-default:hover,a.quickview-icon,.product-options .product-swatches-container .has-swatches a.active.selected,.cms-index-index blockquote.testimonial,.expand_plus,.review-menu-block a.review-total
{background-color:#ef473a}
.pager li >a:hover,.pager li >a:focus,.pager .pages .current,.sorter .view-mode strong i,.sorter .view-mode a:hover i,.data-table button.button:hover > span,.link-cart:hover,.item:hover .details-area .actions a.addtocart,.col-main .category-products .products-list li.item .details-area .actions a.addtocart,.cart .crosssell button.button:hover > span,.cart .discount h2:hover:before,.cart .shipping h2:hover:before,.btn-primary,i.ajax-loader,#narrow-by-list dd .swatch-link:hover .swatch-label,.configurable-swatch-list .hover .swatch-link,.configurable-swatch-list .selected .swatch-link,.swatch-link:hover,.block-layered-nav #narrow-by-list ol.swatches li a:hover .layered-navigation-swatch,.product-image-area .actions a.addtocart,.opc-wrapper-opc #opc-review-block,#newsletter_popup
{border-color:#ef473a}
.form-wrap,#form-validate,.option-detail .item-options,.header-container.type2,.header-container.type4,.fixed-header .menu >li.menu-full-width .nav-sublist-dropdown,.main-nav .menu >li.menu-full-width .nav-sublist-dropdown,.fixed-header .menu >li.menu-static-width .nav-sublist-dropdown,.main-nav .menu >li.menu-static-width .nav-sublist-dropdown,.block.block-subscribe.home-sidebar-block,.product-tabs>ul li.active,.history .featured-box .box-content,.homepage-grid-banner .ribbon:before,.owl-banner-carousel .content.type2 h2,.featured-box .box-content,.cms-index-index .testimonial-arrow-down,#success-message-container,.checkout-progress li.active,.form-wrap,#form-validate,#login-form,.tab-item.tab-item-active
{border-top-color:#ef473a}
.topCartContent:before,.availability-only span,.availability-only a,.prev-next-products .product-nav .product-pop:before
{border-bottom-color:#ef473a}
.opc-wrapper-opc #opc-review-block:before
{border-bottom-color:#ef473a !important}
.menu.side-menu>li .nav-sublist-dropdown
{
    border-left-color:#ef473a}
@media (max-width: 1199px){
    .owl-banner-carousel .content.type2 h2{border-top-color:#ef473a}
}
@media (max-width: 991px){
    .header-container.type5 .top-links-icon,.header-container.type5 .top-links-icon a{color:#ef473a}
    .owl-banner-carousel .content.type2 h2{border-top-color:#ef473a}
}
@media (max-width: 767px){
    .owl-banner-carousel .content.type2 h2{border-top-color:#ef473a}
}
/* end web style */

84@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('../fonts/opensans-regular-webfont.svg') format('svg');
    font-weight: 200;
}
/* ionic */
.back-button > .back-text > .default-title,
.back-button > .back-text > .previous-title {
    display: none;
}

.container	{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
img	{
    max-width: 100%!important;
    }
.checkbox input:before, .checkbox-icon:before	{
  border-radius: 4px; 
  }
em	{
  padding-left:2px;
  }

.none {
    display: none;
}

.loading { /* more info: http://www.zhangxinxu.com/wordpress/?p=3357 */
    width: 3px; height:3px;
    border-radius: 100%;
    box-shadow: 0 -10px 0 1px currentColor,           /* top, 1px expand */
    10px 0px currentColor,                /* right */
    0 10px currentColor,                  /* bottom */
    -10px 0 currentColor,                 /* left */

    -7px -7px 0 .5px currentColor,        /* left-top, 0.5px expand */
    7px -7px 0 1.5px currentColor,        /* right-top, 1.5px expand */
    7px 7px currentColor,                 /* right-bottom */
    -7px 7px currentColor;                /* left-bottom */

    -webkit-animation: spin 1s steps(8) infinite;
    animation: spin 1s steps(8) infinite;
    /*center*/
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
}
/* chrysanthemum loading effect */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.title img {
    max-height: 28px;
    height:70%;
    vertical-align: text-bottom
}
.item-divider {
  min-height: 8px;
  padding-top: 0px;
  }
.tabs	{
    border-bottom-width: 0px;
    border-top-width: 0px;
	  background-color: #fff;
    }
.tabs-top > .tabs, .tabs.tabs-top	{
    border-bottom-width: 1px;
    border-top-width: 0px;
    }
.tab-item	{
    background-color: #fff;
    border-top:2px solid #ef473a;
    border-bottom:0px solid #fff;
    border-width:3px 1px 0 1px;
    border-radius:5px 5px 0 0;
    margin-right:1px;
    background-color:#f4f4f4;
  }
.tab-item.tab-item-active{
    background-color: #fff;
    }
/* menus */
.menu .bar {
    height: 68px;
}
.menu .has-header {
    top: 68px;
}
.menus h2,
.menus h3 {
    line-height: 30px;
    color: #8a8a8a;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
}
.menus h2 img,
.menus h3 img {
    vertical-align: middle;
}
.menus h2 span,
.menus h3 span {
    vertical-align: middle;
}
.menus a {
    font-size: 0.8em;
    font-weight: 300;
    text-decoration: none;
    color: #000;
}
.menus .drawer-logined {
    font-size: 0.8em;
    position: absolute;
    top: 16px;
    padding-left: 60px;
    line-height: 1em;
}
.menus-content .button {
    margin-top: 0px;
    margin-bottom: -1px;
    text-align: left;
}
.menus-content a.button.icon:before {
    width: 24px;
    height: auto;
}

/* end menus */
/* login and register */
.login-container	.tab-nav{
  	top: 0px;
    border-bottom-width: 0px;
    }
.login-container	.tab-item.tab-item-active{
    
    }
.login-container .registered-users, .login-container .account-create{
  	top: 44px;
    }
.login-container .button{
    float: right;
    }
.account-create .item-radio .item-content {
    padding: 6px 34px 16px 16px
}


/* end login and register */
/* iframe */
.frame .scroll {
    height: 100%;
}
.frame iframe {
    border: none;
    width: 100%;
    height: 100%;
    position: absolute;
}

/******************** grid item *********************/
.header-item .button .badge	{
    position: absolute;
    margin-left: 20px;
    min-width: 10px;
    min-height: 10px;
    padding: 2px;
    top: 3px;
    filter:alpha(opacity=90); 
          -moz-opacity:0.9; 
          -khtml-opacity: 0.9; 
          opacity: 0.9; 
  }
/* 首页滚动标签栏 */
.header-slide	{    
}
/* end 首页滚动标签栏 */
.products-grid {
    margin-top: 5px;
    margin-right: 10px;
}

/* 特殊处理：一栏 #dailySale  #bestSeller */
.products-grid.one-line .product  {
    margin-top: 10px;
    text-align: center;
    padding: 0 10px 0 10px;
    position: relative;
    width: 100%;
    min-height: 250px;
}

.products-grid.one-line .product .product-inner .product-info {
    /* width: 100%; */
    padding: 0px 10px 10px 10px;
}
/*-------for price---------*/
.products-grid.one-line .product .product-price {
    margin-top: 10px;
    clear: both;
    text-align: center;
    padding-right: 20%;
}

.one-line .price-box .price,
.one-line .category-products .product .price-box .price {
    color: #e74c3c;
    font-size: 140%;
}
.one-line .product .discount {
    position: absolute;
    left: 0px;
    top: -7px;
    font-size: 90%;
}
.one-line .price-box .discount .price,
.one-line .product .product-price .discount .price {
    background: #e35a32;
    color: #fff;
    width: 60px;
    padding: 2px 4px;
    opacity: 0.8;
}
/* end 特殊处理：一栏 #dailySale  #bestSeller *

/* 即将上架和目录列表正常处理：分两栏 */
.products-grid .product {
    margin-top: 10px;
    text-align: center;
    float: left;
    width: 50%;
    padding: 0 1.25%;
    min-height: 220px;
}

.products-grid .product img {
    max-width: 100%;
}

.products-grid .product .product-inner {
    position: relative;
    border-bottom: 1px solid #dddddd;
}

.products-grid .product .product-image {
    margin-bottom: 10px;
    clear: both;
}

.products-grid .product .product-price {
    margin-top: 10px;
    clear: both;
    text-align: left;
}

.products-grid .product .product-review {
    line-height: 100%;
}

.products-grid .product .product-review .rating-box {
    margin-top: 0;
}

.products-grid .product .product-name {
    margin-top: 5px;
    margin-bottom: 7px;
    line-height: 100%;
    font-size: 1em;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product-name a	{
    color: #777;
}
.products-grid .product .product-addto-wrap {
    margin-top: 16px;
    clear: both;
}

.products-grid .product .product-inner .product-info {
    /* width: 100%; */
    padding: 0px 10px 2px 10px;
}

.products-grid .configurable-swatch-list {
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0px;
    text-align: center;
}

.products-grid .configurable-swatch-list li {
    display: inline-block;
}

/*-------for price---------*/

.price-box .price,
.category-products .product .price-box .price {
    color: #e74c3c;
    font-size: 100%;
}

.price-box .old-price .price,
.product .product-price .old-price .price,
.product .product-price .old-price .price {
    font-size: 100%;
    background: #e35a32;
    color: #fff;
    width: 60px;
    padding: 6px 8px;
    opacity: 0.7;
}


.price-box .old-price,
.product .old-price {
    position: absolute;
    font-size: 80%;
    color: #8a8a8a;
    text-decoration: line-through;
}

.price-box .discount .price,
.product .product-price .discount .price,
.product .product-price .discount .price {
    background: #e35a32;
    color: #fff;
    width: 60px;
    padding: 2px 4px;
    opacity: 0.8;
}

.product .discount.none {
    display: none;
}

.product .discount {
    position: absolute;
    left: 0px;
    top: -1px;
    font-size: 80%;
}

/*product detail swiper*/
.product-container .card	{
	margin-top: 0;
  }
  
.product-container .shipping	{ 
	padding-left: 10px;
  color: #8a8a8a;
  }

.product-container .tabs	{
	position: relative;
  top: 0px;
  }

.product-swiper-container {
	position: relative;
	margin-top: 10px;
	width: 100%;
	text-align: center;
  z-index: 10;
}
.product-swiper-container img {
	height: 240px;
	width: auto;
}
.product-swiper-container .slider-pager {
  /*background: rgba(240,240,240, .2);*/
  padding: 2px 0px 22px 0px;
	bottom: 2px;
}
.product-container .tab-item	{
	max-width: 100%;
  }
/*end product detail swiper*/
/*product cart*/
.add-to-cart	{
  height: 55px;    
  }  
.add-to-cart .button	{
	font-size: 1.4em;
  line-height: 45px;
  }  
.add-to-cart-left	{
    width: 35%;
    }

.add-to-cart-right{
    width: 63%;
    }
.qty-holder .item-input{
    float:right;
    border:none;
    padding: 0px 5px 0px 5px;
    width: 50%;
    }    
.qty-holder .item{
    }    
.qty-holder .button-bar{
    }    
.qty-holder .btn-minus{
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    width: 60px;
    height: 40px;
    }    
.qty-holder .btn-plus{
    width: 60px;
    height: 40px;
    } 
#qty {
    text-align: right;
    }
/*
/*end product cart*/
/********************* tools ********************/
.tools {
    position: fixed;
    left: 10px;
    bottom: 10px;
    z-index: 101;
    background: #000;
    opacity: 0.6;
    padding: 6px;
    color: #333;
    font-size: 30px;
}

/******************** detail *********************/
.page {
    padding: 5px;
}

.page-detail h1 {
    text-overflow: ellipsis;
    width: 70%;
    overflow: hidden;
    left: 15%;
}

.page-detail .bar-nav ~ .content {
    margin-top: 44px;
    padding-top: 0;
}
.page-detail .bar-nav {
    position: fixed;
    padding-top: 0;
    z-index: 20;
}

.page-detail iframe {
    position: absolute;
    border: none;
    width: 100%;    height: 100%;
}
.page-detail .detailInfo {
    margin-top: 50px;
}
/********************product detail *********************/
.page-product-detail h1 {
    text-overflow: ellipsis;
    width: 70%;
    overflow: hidden;
    left: 0px;
}

.page-product-detail .bar-nav ~ .content {
    margin-top: 44px;    padding-top: 0;
}
.page-product-detail .bar-nav {
    position: fixed;
    padding-top: 0;
    z-index: 20;
}

.page-product-detail iframe {
    border: none;
    width: 100%;
    height: 100%;
}
.page-product-detail .detailInfo {
    background-color: #ffffff;
}
.page-product-detail .detailInfo img {
    max-width: 100%;
}
.productForm	{
    padding-top: 20px;
    padding-top: 20px;
    width: 100%;
    padding-bottom: 88px;
    /* background-color: rgba(238, 238, 238, .9);*/
    z-index:99;
}

.product-option-container .item	{
    border-width: 0px;
    margin-right: 10px;
  }
.product-option-container input,
.product-option-container select,
.product-option-container textarea	{    
    border-bottom:1px solid #ccc;
    color:#777;
    border-radius:3px;
    padding-top:0px;
    padding-bottom:0px;    
    }
.product-option-container textarea,
.product-option-container select[multiple],
.product-option-container select[size]{
    height: 4em;
    width: 100%;
    }