@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('../fonts/opensans-regular-webfont.svg') format('svg');
    font-weight: 200;
}
.container	{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
img	{
    max-width: 100%;
    }

.none {
    display: none;
}

.title img {
    max-height: 100%;
    margin-top: 10px;
}

/* menus */
.menu .bar {
    height: 68px;
}
.menu .has-header {
    top: 68px;
}
.menus h3 {
    font-size: 18px;
    margin-top: 10px;
    padding-left: 20px;
    line-height: 30px;
    color: #8a8a8a;
    font-weight: normal;
}
.menus h3 img {
    vertical-align: middle;
}
.menus a {
    font-size: 0.8em;
    font-weight: 300;
    text-decoration: none;
    color: #000;
}
.menus h3 span.fa-user {
    font-size: 36px;
    padding-right: 30px;
    color: #ccc;
    vertical-align: middle;
}

/* iframe */
.frame .scroll {
    height: 100%;
}
.frame iframe {
    border: none;
    width: 100%;
    height: 100%;
}

/******************** grid item *********************/
/* 首页滚动标签栏 */
.header-slide	{    
}
/* end 首页滚动标签栏 */
.products-grid {
    margin-top: 5px;
    margin-right: 10px;
}

/* 特殊处理：一栏 #dailySale  #bestSeller */
#dailySale .products-grid .product,
#bestSeller .products-grid .product  {
    margin-top: 10px;
    text-align: center;
    padding: 0;
    position: relative;
    width: 100%;
    min-height: 250px;
}

#dailySale .products-grid .product .product-inner .product-info,
#bestSeller .products-grid .product .product-inner .product-info {
    /* width: 100%; */
    padding: 0px 10px 10px 10px;
}
/*-------for price---------*/
#dailySale .products-grid .product .product-price,
#bestSeller .products-grid .product .product-price {
    margin-top: 10px;
    clear: both;
    text-align: center;
    padding-right: 20%;
}

#dailySale .price-box .price,
#dailySale .category-products .product .price-box .price,
#bestSeller .price-box .price,
#bestSeller .category-products .product .price-box .price {
    color: #e74c3c;
    font-size: 140%;
}
#dailySale .product .discount,
#bestSeller .product .discount
{
    position: absolute;
    left: 0px;
    top: -7px;
    font-size: 90%;
}
#dailySale .price-box .discount .price,
#dailySale .product .product-price .discount .price,
#dailySale .product .product-price .discount .price,
#bestSeller .price-box .discount .price,
#bestSeller .product .product-price .discount .price,
#bestSeller .product .product-price .discount .price {
    background: #e35a32;
    color: #fff;
    width: 60px;
    padding: 2px 4px;
    opacity: 0.8;
}
/* end 特殊处理：一栏 #dailySale  #bestSeller *

/* 即将上架和目录列表正常处理：分两栏 */
.products-grid .product {
    margin-top: 10px;
    text-align: center;
    float: left;
    width: 50%;
    padding: 0 1.25%;
    min-height: 220px;
}

.products-grid .product img {
    max-width: 100%;
}

.products-grid .product .product-inner {
    position: relative;
    border-bottom: 1px solid #dddddd;
}

.products-grid .product .product-image {
    margin-bottom: 10px;
    clear: both;
}

.products-grid .product .product-price {
    margin-top: 10px;
    clear: both;
    text-align: left;
}

.products-grid .product .product-review {
    line-height: 100%;
}

.products-grid .product .product-review .rating-box {
    margin-top: 0;
}

.products-grid .product .product-name {
    margin-top: 5px;
    margin-bottom: 7px;
    line-height: 100%;
    font-size: 0.6em;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.products-grid .product .product-addto-wrap {
    margin-top: 16px;
    clear: both;
}

.products-grid .product .product-inner .product-info {
    /* width: 100%; */
    padding: 0px 10px 2px 10px;
}

.products-grid .configurable-swatch-list {
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0px;
    text-align: center;
}

.products-grid .configurable-swatch-list li {
    display: inline-block;
}

/*-------for price---------*/

.price-box .price,
.category-products .product .price-box .price {
    color: #e74c3c;
    font-size: 100%;
}

.price-box .old-price .price,
.product .product-price .old-price .price,
.product .product-price .old-price .price {
    font-size: 100%;
    background: #e35a32;
    color: #fff;
    width: 60px;
    padding: 6px 8px;
    opacity: 0.7;
}


.price-box .old-price,
.product .old-price {
    position: absolute;
    font-size: 80%;
    color: #8a8a8a;
    text-decoration: line-through;
}

.price-box .discount .price,
.product .product-price .discount .price,
.product .product-price .discount .price {
    background: #e35a32;
    color: #fff;
    width: 60px;
    padding: 2px 4px;
    opacity: 0.8;
}

.product .discount.none {
    display: none;
}

.product .discount {
    position: absolute;
    left: 0px;
    top: -1px;
    font-size: 80%;
}

/*product detail swiper*/
.product-swiper-container {
	position: relative;
	margin-top: 10px;
	width: 100%;
	text-align: center;
  z-index: 10;
}
.product-swiper-container img {
	height: 240px;
	width: auto;
}
.product-swiper-container .slider-pager {
  background: rgba(240,240,240, .2);
  padding: 2px 0px 22px 0px;
	bottom: 2px;
}
/*end product detail swiper*/
/*product cart*/
.cart_block	{
  }
  
.cart_block_left	{
    width: 35%;
    }

.cart_block_right{
    width: 63%;
    }
.qty-holder{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    }
.qty-holder .item-input{
    float:right;
    border:none;
    border-bottom: 1px solid #ddd;
    padding: 0px 5px 0px 5px;
    width: 100px;
    }    
.qty-holder .btn-minus{
    width: 60px;
    }    
.qty-holder .btn-plus{
    width: 60px;
    } 
#qty {
    text-align: center;
    }
/*
/*end product cart*/
/********************* tools ********************/
.tools {
    position: fixed;
    left: 10px;
    bottom: 10px;
    z-index: 101;
    background: #000;
    opacity: 0.6;
    padding: 6px;
    color: #333;
    font-size: 30px;
}

/******************** detail *********************/
.page {
    padding: 5px;
}

.page-detail h1 {
    text-overflow: ellipsis;
    width: 70%;
    overflow: hidden;
    left: 15%;
}

.page-detail .bar-nav ~ .content {
    margin-top: 44px;
    padding-top: 0;
}
.page-detail .bar-nav {
    position: fixed;
    padding-top: 0;
    z-index: 20;
}

.page-detail iframe {
    position: absolute;
    border: none;
    width: 100%;    height: 100%;
}
.page-detail .detailInfo {
    margin-top: 50px;
}
/********************product detail *********************/
.page-product-detail h1 {
    text-overflow: ellipsis;
    width: 70%;
    overflow: hidden;
    left: 0px;
}

.page-product-detail .bar-nav ~ .content {
    margin-top: 44px;    padding-top: 0;
}
.page-product-detail .bar-nav {
    position: fixed;
    padding-top: 0;
    z-index: 20;
}

.page-product-detail iframe {
    border: none;
    width: 100%;
    height: 100%;
}
.page-product-detail .detailInfo {
    background-color: #ffffff;
}
.page-product-detail .detailInfo img {
    max-width: 100%;
}
.productForm	{
    padding-top: 20px;
    padding-top: 20px;
    width: 100%;
    padding-bottom: 88px;
    /* background-color: rgba(238, 238, 238, .9);*/
    z-index:99;
}
