<?xml version="1.0"?>
<config>
	<modules>
		<SkyMazon_Customer>
			<version>0.1.0</version>
		</SkyMazon_Customer>
	</modules>
	<frontend>
		<routers>
			<customer>
				<use>standard</use>
				<args>
					<module>SkyMazon_Customer</module>
					<frontName>customer</frontName>
				</args>
			</customer>
		</routers>
	</frontend>
</config> 