.Content {
    background: #DDD;
    border: 1px solid #000;
    margin: 2em;
    width: 320px;
}
.Content * {
    margin: 2px auto;
}
.Content td,tr {
    border: 1px solid black;
    padding: 4px;
}
.Content td.header {
    background: #CCC;
    font-weight: bold;
}
.Content ul {
    padding: auto;
}
.title {
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.bcEED {
    background: #EED;
}
.bcDEE {
    background: #DEE;
}
.CellDecimal {
    text-align: right;
}